# ==========================================
#  Ignore everything by default
# ==========================================
*

# ==========================================
# Allow only these files
# ==========================================
!docker-compose.yml
!docker-compose.prod.yml
!.env.example

#Can also allow .gitignore itself
