<div class="table-container">
  <table mat-table [dataSource]="bookings" class="mat-elevation-z1 bookings-table">

    <!-- From Column -->
    <ng-container matColumnDef="from">
      <th class="column_header" mat-header-cell *matHeaderCellDef> From </th>
      <td class="cell" mat-cell *matCellDef="let booking"> {{ booking.fromDate | date:'MMM d, y' }} </td>
    </ng-container>

    <!-- To Column -->
    <ng-container matColumnDef="to">
      <th class="column_header" mat-header-cell *matHeaderCellDef> To </th>
      <td class="cell" mat-cell *matCellDef="let booking"> {{ booking.toDate | date:'MMM d, y' }} </td>
    </ng-container>

    <!-- Days Column -->
    <ng-container matColumnDef="days">
      <th class="column_header" mat-header-cell *matHeaderCellDef> Days </th>
      <td class="cell" mat-cell *matCellDef="let booking"> {{ booking.days }} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th class="column_header" mat-header-cell *matHeaderCellDef> Price </th>
      <td class="cell" mat-cell *matCellDef="let booking"> {{ booking.price }} </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th class="column_header" mat-header-cell *matHeaderCellDef> Status </th>
      <td class="cell" mat-cell *matCellDef="let booking">
        <span class="status pending" >Booked</span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>