<div *ngIf="!isCustomerLoggedIn">
    <mat-toolbar color="secondary" class="custom-navbar">
        <div class="navbar-title">
            <a routerLink="/login" class="logo">Car Rental</a>
        </div>
        <span class="spacer"></span>
        <div class="navbar-link">
            <!-- <a mat-button routerLink="/login" class="logo">Home</a> -->
            <a mat-button routerLink="/register" class="logo">Sign-Up</a>
            <a mat-button routerLink="/login" class="logo">Login</a>
        </div>
    
        <!-- <button mat-icon-button aria-label="User Profile">
          <mat-icon>account_circle</mat-icon>
        </button> -->
      </mat-toolbar>
</div>
<div *ngIf="isCustomerLoggedIn">
    <mat-toolbar color="secondary" class="custom-navbar">
        <div class="navbar-title">
            <a routerLink="/search" class="logo">Car Rental</a>
        </div>
        <span class="spacer"></span>
        <div class="navbar-link">
            <!-- <a mat-button routerLink="/login" class="logo">Home</a> -->
            <a mat-button routerLink="/search" class="logo">Search</a>
            <a mat-button routerLink="/my_bookings" class="logo">My Bookings</a>
            <a mat-button class="logo" (click)="logout()">Logout</a>
        </div>
    
        <!-- <button mat-icon-button aria-label="User Profile">
          <mat-icon>account_circle</mat-icon>
        </button> -->
      </mat-toolbar>
</div>